h1 {
    color: red;
    font-weight: 600 !important;

}

#books-list {
    list-style-type: none;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4; 
    background-color: #e9ecef;
}

.center {
    /* margin: 20px; */

}

img {
    max-width: 250px;
    height: auto;
}

form {
    /* margin: 120px; */
}

.data-id {
    max-width: 250px;
     /* min-width: 225px; */
}

.p-desc {
    word-wrap: initial;
    white-space: normal;
}

.card {
    /* max-width: 25em; */
    width: 25em;
    align-items: center;
    margin: 2em;
    padding: .4em;
    /* min-width: 425px; */
}
